---
import { formatDate } from '@/utils/formatDate';
import { IoArrowForward } from 'react-icons/io5';
export interface ArticleCardProps {
  title: string;
  summary: string;
  image: string;
  slug: string;
}
const ArrowIcon = IoArrowForward;
const { title, summary, image, slug, date } = Astro.props;
---

<article
  class="card bg-white text-black rounded-xl shadow-lg shadow-black/30 overflow-hidden"
>
  <img src={image} alt={title} class="w-full h-52 object-cover" />

  <div class="p-4 space-y-2">
    <h3 class="text-lg font-semibold line-clamp-2">{title}</h3>
    <p class="text-sm text-gray-600">Publié le {formatDate(date)}</p>
    <p class="text-sm text-gray-600 line-clamp-3">{summary}</p>
  </div>
  <div class="flex justify-end p-4">
    <a href={`/articles/${slug}`} class="cta-button">
      <span>Lire la suite</span>
      <ArrowIcon /></a
    >
  </div>
</article>
