---
import GalleryCard from '@/components/GalleryCard.astro';

import galleries from '@/data/galleries.json';

const latestGalleries = [...galleries]
  .sort((a, b) => new Date(b.date).getTime() - new Date(a.date).getTime())
  .slice(0, 6);
---

<section class="publications-section flex items-center justify-center py-8">
  <div class="container space-y-8">
    <h2 class="text-3xl font-bold">Nos reportages</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      {
        latestGalleries.map((gallery) => (
          <GalleryCard
            title={gallery.title}
            description={gallery.description}
            pictures={gallery.pictures}
            slug={gallery.slug}
            authors={gallery.authors}
            tag={gallery.tag}
            department={gallery.department}
            date={gallery.date}
            category={gallery.tag}
          />
        ))
      }
    </div>

    <div class="flex justify-center pt-4">
      <a href="/reportages/galeries" class="navButton"
        >Voir tous les reportages</a
      >
    </div>
  </div>
</section>
