---
import ImageWithPlaceholder from '@/atoms/ImageWithPlaceholder.astro';

export interface PartnerCardProps {
  name: string;
  website: string | null;
  logo: string;
}

const { name, website, logo } = Astro.props as PartnerCardProps;
---

<article
  class="partner-card flex flex-col items-center text-center p-4 bg-white rounded-lg shadow hover:shadow-lg transition-shadow justify-between"
>
  <ImageWithPlaceholder src={logo} alt={name} class="object-contain mb-2" />

  {
    website ? (
      <a
        href={website}
        target="_blank"
        rel="noopener noreferrer"
        class="block"
        title={`Consulter le site du partenaire : ${website}`}
      >
        <span class="text-sm font-medium text-gray-800 hover:text-blue-600">
          {name}
        </span>
      </a>
    ) : (
      <p class="text-sm font-medium text-gray-800">{name}</p>
    )
  }
</article>
