---
import ImageWithPlaceholder from '@/atoms/ImageWithPlaceholder.astro';

export interface PartnerCardProps {
  name: string;
  website: string | null;
  logo: ImageMetadata;
}

const { name, website, logo } = Astro.props as PartnerCardProps;
---

<article
  class="partner-card flex flex-col items-center text-center p-4 bg-shark-200 rounded-xl shadow-md shadow-black/40 hover:shadow-lg transition-shadow justify-between h-full min-h-48"
>
  <div class="shrink-0 w-full h-24 flex items-center justify-center mb-4">
    <ImageWithPlaceholder
      src={logo}
      alt={name}
      class="object-contain max-h-full max-w-full"
    />
  </div>

  <div class="mt-auto w-full h-full flex items-center justify-center">
    {
      website ? (
        <a
          href={website}
          target="_blank"
          rel="noopener noreferrer"
          class="block"
          title={`Consulter le site du partenaire : ${website}`}
        >
          <span class="text-sm font-medium text-shark-900 hover:text-dark-blue-400 transition-colors">
            {name}
          </span>
        </a>
      ) : (
        <p class="text-sm font-medium text-shark-900">{name}</p>
      )
    }
  </div>
</article>
